* {
  margin: 0;
  padding: 0;
}
header {
  top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  z-index: 999;
  color: white;
  position: fixed;

  .navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-size: 18px;
    border-bottom: 2px solid wheat;
    cursor: pointer;
  }
  .logo {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  .corvette {
    padding: 5px;
    margin: 5px;
    border-left: 4px solid white;
    font-size: 1cm;
    text-shadow: 4px 4px black;
  }
  .navbar-list-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    cursor: pointer;
    text-shadow: 4px 4px black;
  }
  .placeholder {
    width: 130px;
    color: blue;
    border-radius: 3px;
  }
  li:hover {
    // background-color: grey;
    border-bottom: 3px solid white;
    border-radius: 5px;
    padding: 5px;
  }
  .button {
    display: flex;
    padding: 5px;
    gap: 1rem;
  }
  .button i {
    margin: 2px;
    padding: 5px;
    gap: 10px;
  }
  .button p {
    text-decoration: underline;
    padding: 2px;
  }
  .button button {
    margin: 5px;
    padding: 5px;
  }
}

section {
  .sec-images {
    top: 0;
    position: fixed;
    z-index: 000;
    background-size: 100%;
    background-position: fixed;
    object-fit: cover;
  }
  .sec-text {
    position: absolute;
    top: 30%;
    left: 20%;
    color: white;
  }
  .sec-text h1 {
    font-size: 2cm;
    text-shadow: 3px 3px maroon;
  }
  .sec-text p {
    text-shadow: 2px 2px maroon;
  }
}
