* {
  margin: 0;
  padding: 0;
}

body {
  flex-direction: column;
}

header {
  top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  z-index: 999;
  color: black;
}
header .navbar {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 18px;
  border-bottom: 2px solid black;
  cursor: pointer;
}
header .logo {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
header .corvette {
  padding: 5px;
  margin: 5px;
  border-left: 3px solid red;
  font-size: 1cm;
  text-shadow: 2px 2px white;
}
header .navbar-list-1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;
  text-shadow: 2px 2px white;
}
header .placeholder {
  width: 400px;
  height: 20px;
  border-radius: 3px;
}
header li:hover {
  border-bottom: 3px solid black;
  border-radius: 5px;
  padding: 7px;
}
header .button {
  display: flex;
  padding: 5px;
  gap: 1rem;
}
header .button i {
  margin: 2px;
  padding: 5px;
  gap: 10px;
}
header .button p {
  text-decoration: underline;
  padding: 2px;
}
header .button button {
  margin: 5px;
  padding: 5px;
}
header .menu-icon {
  font-size: 30px;
  display: none;
}

section {
  flex-direction: column;
}

.sec-div {
  display: flex;
  flex-direction: column;
}

section {
  background-image: url(/65-ford-mustang-rear-view-field-desktop-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}
section .sec-text {
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
}
section .sec-text h1 {
  font-size: 2cm;
  text-shadow: 3px 3px maroon;
}
section .sec-text p {
  text-shadow: 2px 2px maroon;
}
section .learn {
  margin-top: 20px;
  color: yellow;
  font-weight: 500;
  background-color: transparent;
  width: 100px;
  padding: 5px;
  font-size: 15px;
  box-shadow: 2px 2px yellow;
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produk {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  width: 1200px;
  height: 150vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 1rem;
}

.produk-image {
  width: 100%;
  margin-left: 20px;
}

.produk-image img {
  width: 700px;
  height: 400px;
  box-shadow: 20px 20px black;
  border-radius: 20px;
  cursor: pointer;
}

.diskon {
  color: red;
  background-color: white;
  font-size: 20px;
  position: absolute;
  padding: 5px;
  width: max-content;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.beli {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

.sec-2 h1 {
  border-top: 3px solid black;
  border-bottom: 3px solid red;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.techno img {
  width: 100%;
  height: 800px;
  background-size: 100%;
}

.childs {
  margin: 10px;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1600px;
  height: 200px;
  cursor: pointer;
}

.child-pleasure {
  margin: 20px;
  width: 400px;
  height: 200px;
  cursor: pointer;
}

.child-pleasure img {
  width: 300px;
  height: 150px;
}

.text-button {
  width: 200px;
  padding: 10px;
}

.gallery {
  margin: 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gal-images img {
  width: 200px;
  cursor: pointer;
}

.footer-1 {
  font-size: 12px;
  width: 100%;
  height: 70px;
  background-color: gray;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.footer-2 {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  margin: 1px;
  cursor: pointer;
}

.footer-2 input {
  border-radius: 10px;
  width: 600px;
  height: 40px;
  cursor: pointer;
}

.footer-3 {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  margin: 1px;
  background-color: grey;
}

.footer-4 {
  margin: 10px;
  width: 300px;
  cursor: pointer;
  list-style: none;
  border-right: 5px solid #bec6a0;
}

.footer-4 h2 {
  margin: 5px;
  padding: 5px;
  text-shadow: 2px 2px white;
  cursor: pointer;
}

.footer-5 {
  width: 100%;
  height: 40px;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  header {
    top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    z-index: 999;
    color: black;
  }
  header .navbar {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-size: 9px;
    border-bottom: 1px solid black;
    width: 100%;
    cursor: pointer;
  }
  header .logo {
    margin: 2.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo img {
    margin: 2.5px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
  }
  header .corvette {
    padding: 2.5px;
    margin: 2.5px;
    border-left: 1.5px solid red;
    font-size: 0.5cm;
    text-shadow: 1px 1px white;
  }
  header .navbar-list-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
    cursor: pointer;
    text-shadow: 1px 1px white;
  }
  header .placeholder {
    width: 200px;
    height: 10px;
    color: blue;
    border-radius: 1.5px;
  }
  header li:hover {
    border-bottom: 1.5px solid black;
    border-radius: 2.5px;
    padding: 3.5px;
  }
  header .button {
    display: flex;
    padding: 2.5px;
    gap: 0.5rem;
  }
  header .button i {
    margin: 1px;
    padding: 2.5px;
    gap: 5px;
  }
  header .button p {
    text-decoration: underline;
    padding: 1px;
  }
  header .button button {
    margin: 2.5px;
    padding: 2.5px;
  }
  header .menu-icon {
    font-size: 15px;
  }
  section {
    flex-direction: column;
  }
  .sec-div {
    display: flex;
    flex-direction: column;
  }
  section {
    background-image: url(/65-ford-mustang-rear-view-field-desktop-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: 100%;
  }
  section .sec-text {
    position: absolute;
    top: 15%;
    left: 10%;
    color: white;
  }
  section .sec-text h1 {
    font-size: 1cm;
    text-shadow: 1.5px 1.5px maroon;
  }
  section .sec-text p {
    text-shadow: 1px 1px maroon;
  }
  section .learn {
    margin-top: 10px;
    color: yellow;
    font-weight: 500;
    background-color: transparent;
    width: 50px;
    padding: 2.5px;
    font-size: 7.5px;
    box-shadow: 1px 1px yellow;
    cursor: pointer;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .produk {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    width: 600px;
    height: 75vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 0.5rem;
  }
  .produk-image {
    width: 100%;
    margin-left: 10px;
  }
  .produk-image img {
    width: 350px;
    height: 200px;
    box-shadow: 10px 10px black;
    border-radius: 10px;
    cursor: pointer;
  }
  .diskon {
    color: red;
    background-color: white;
    font-size: 10px;
    position: absolute;
    padding: 2.5px;
    width: max-content;
    height: 15px;
    border-radius: 1.5px;
    cursor: pointer;
  }
  .beli {
    margin: 10px;
    padding: 5px;
    cursor: pointer;
  }
}
.sec-2 h1 {
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid red;
  padding: 10px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.techno img {
  width: 100%;
  height: 400px;
  background-size: 100%;
}

.childs {
  margin: 10px;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 768px;
  height: 100px;
  cursor: pointer;
}

.child-pleasure {
  margin: 10px;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.child-pleasure img {
  width: 150px;
  height: 75px;
}

.text-button {
  width: 100px;
  padding: 5px;
}

.gallery {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gal-images img {
  width: 100px;
  cursor: pointer;
}

.footer-1 {
  font-size: 6px;
  width: 100%;
  height: 70px;
  background-color: gray;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.footer-2 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  margin: 0.5px;
  cursor: pointer;
}

.footer-2 input {
  border-radius: 50px;
  width: 300px;
  height: 20px;
  cursor: pointer;
}

.footer-3 {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  margin: 0.5px;
  background-color: grey;
}

.footer-4 {
  margin: 5px;
  width: 150px;
  cursor: pointer;
  list-style: none;
  border-right: 2.5px solid #bec6a0;
}

.footer-4 h2 {
  margin: 2.5px;
  padding: 2.5px;
  text-shadow: 1px 1px white;
  cursor: pointer;
}

.footer-5 {
  width: 100%;
  height: 20px;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 481px) {
  header {
    top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    z-index: 999;
    color: black;
  }
  header .navbar {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-size: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    cursor: pointer;
  }
  header .logo {
    margin: 1.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo img {
    margin: 1.5px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  header .corvette {
    padding: 1.5px;
    margin: 1.5px;
    border-left: 1px solid red;
    font-size: 0.3cm;
    text-shadow: 0.7px 0.7px white;
  }
  header .navbar-list-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    list-style: none;
    cursor: pointer;
    text-shadow: 0.7px 0.7px white;
  }
  header .placeholder {
    width: 120px;
    height: 7px;
    color: blue;
    border-radius: 0.7px;
  }
  header li:hover {
    border-bottom: 1px solid black;
    border-radius: 2px;
    padding: 2.3px;
  }
  header .button {
    display: flex;
    padding: 2px;
    gap: 0.3rem;
  }
  header .button i {
    margin: 0.7px;
    padding: 2px;
    gap: 3px;
  }
  header .button p {
    text-decoration: underline;
    padding: 0.7px;
  }
  header .button button {
    margin: 2px;
    padding: 2px;
  }
  header .menu-icon {
    font-size: 10px;
  }
  section {
    flex-direction: column;
  }
  .sec-div {
    display: flex;
    flex-direction: column;
  }
  section {
    background-image: url(/65-ford-mustang-rear-view-field-desktop-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: 100%;
  }
  section .sec-text {
    position: absolute;
    top: 15%;
    left: 10%;
    color: white;
  }
  section .sec-text h1 {
    font-size: 0.7cm;
    text-shadow: 1px 1px maroon;
  }
  section .sec-text p {
    text-shadow: 0.7px 0.7px maroon;
  }
  section .learn {
    margin-top: 7px;
    color: yellow;
    font-weight: 500;
    background-color: transparent;
    width: 30px;
    padding: 2px;
    font-size: 5px;
    box-shadow: 0.7px 0.7px yellow;
    cursor: pointer;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .produk {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7px;
    width: 450px;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 0.3rem;
  }
  .produk-image {
    width: 100%;
    margin-left: 7px;
  }
  .produk-image img {
    width: 250px;
    height: 120px;
    box-shadow: 7px 7px black;
    border-radius: 7px;
    cursor: pointer;
  }
  .diskon {
    color: red;
    background-color: white;
    font-size: 7px;
    position: absolute;
    padding: 2px;
    width: max-content;
    height: 10px;
    border-radius: 1px;
    cursor: pointer;
  }
  .beli {
    margin: 7px;
    padding: 3px;
    cursor: pointer;
  }
}
.sec-2 h1 {
  border-top: 1px solid black;
  border-bottom: 1px solid red;
  padding: 7px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.techno img {
  width: 100%;
  height: 250px;
  background-size: 100%;
}

.childs {
  margin: 7px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 481px;
  height: 100px;
  cursor: pointer;
}

.child-pleasure {
  margin: 7px;
  width: 120px;
  height: 75px;
  cursor: pointer;
}

.child-pleasure img {
  width: 100px;
  height: 50px;
}

.text-button {
  width: 75px;
  padding: 3px;
}

.gallery {
  margin: 12px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gal-images img {
  width: 75px;
  cursor: pointer;
}

.footer-1 {
  font-size: 4px;
  width: 100%;
  height: 50px;
  background-color: gray;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.footer-2 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  margin: 0.3px;
  cursor: pointer;
}

.footer-2 input {
  border-radius: 30px;
  width: 178px;
  height: 120px;
  cursor: pointer;
}

.footer-3 {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  margin: 0.3px;
  background-color: grey;
}

.footer-4 {
  margin: 3px;
  width: 100px;
  cursor: pointer;
  list-style: none;
  border-right: 2px solid #bec6a0;
}

.footer-4 h2 {
  margin: 2px;
  padding: 2px;
  text-shadow: 0.7px 0.7px white;
  cursor: pointer;
}

.footer-5 {
  width: 100%;
  height: 12x;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 7px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
