* {
  margin: 0;
  padding: 0;
}

body {
  flex-direction: column;
}

header {
  top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  z-index: 999;
  color: black;
}
header .navbar {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 18px;
  border-bottom: 2px solid black;
  cursor: pointer;
}
header .logo {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
header .corvette {
  padding: 5px;
  margin: 5px;
  border-left: 3px solid red;
  font-size: 1cm;
  text-shadow: 2px 2px white;
}
header .navbar-list-1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;
  text-shadow: 2px 2px white;
}
header .placeholder {
  width: 400px;
  height: 20px;
  border-radius: 3px;
}
header li:hover {
  border-bottom: 3px solid black;
  border-radius: 5px;
  padding: 7px;
}
header .button {
  display: flex;
  padding: 5px;
  gap: 1rem;
}
header .button i {
  margin: 2px;
  padding: 5px;
  gap: 10px;
}
header .button p {
  text-decoration: underline;
  padding: 2px;
}
header .button button {
  margin: 5px;
  padding: 5px;
}
header .menu-icon {
  font-size: 30px;
  display: none;
}

section {
  flex-direction: column;
}

.sec-div {
  display: flex;
  flex-direction: column;
}

section {
  background-image: url(/65-ford-mustang-rear-view-field-desktop-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}
section .sec-text {
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
}
section .sec-text h1 {
  font-size: 2cm;
  text-shadow: 3px 3px maroon;
}
section .sec-text p {
  text-shadow: 2px 2px maroon;
}
section .learn {
  margin-top: 20px;
  color: yellow;
  font-weight: 500;
  background-color: transparent;
  width: 100px;
  padding: 5px;
  font-size: 15px;
  box-shadow: 2px 2px yellow;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produk {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  width: 1200px;
  height: 150vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 1rem;
}

.produk-image {
  width: 100%;
  margin-left: 20px;
}

.produk-image img {
  width: 700px;
  height: 400px;
  box-shadow: 20px 20px black;
  border-radius: 20px;
}

.diskon {
  color: red;
  background-color: white;
  font-size: 20px;
  position: absolute;
  padding: 5px;
  width: max-content;
  height: 30px;
  border-radius: 3px;
}

.beli {
  margin: 20px;
  padding: 10px;
}

.sec-2 h1 {
  border-top: 3px solid black;
  border-bottom: 3px solid red;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techno img {
  width: 100%;
  height: 800px;
  background-size: 100%;
}

.childs {
  margin: 10px;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 200px;
}

.child-pleasure {
  margin: 20px;
  width: 400px;
  height: 200px;
}

.child-pleasure img {
  width: 300px;
  height: 150px;
}

.text-button {
  width: 200px;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
