* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/css/about/small.avif);
  background-size: 100%;
  background-position: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
header {
  color: white;
}
.list-h3 {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.list-h3 h3 {
  color: white;
  margin: 20px;
  width: 200px;
  font-size: 30px;
}
.list-h3 a {
  color: white;
  font-weight: 900;
  width: 100%;
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-h3 a:hover {
  color: white;
  // background-color: white;
  border-bottom: 5px solid white;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1850px;
  height: 400px;
}

.list-1 {
  width: 400px;
  height: 300px;
  position: relative;

  .list-1-input {
    width: 400px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 10%;
    border-radius: 20px;
  }
}
.list-2 {
  position: relative;
  width: 400px;
  height: 300px;
  .list-2-button {
    position: absolute;
    top: 0;
    width: 50px;
    margin: 10px;
  }

  .list-2-button p {
    color: red;
  }
}
.list-2 img {
  width: 470px;
  height: 300px;
  border-radius: 5px;
}

.navbar {
  .navbar-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    border-bottom: 3px solid white;
    color: white;
    font-weight: 900;

    padding: 10px;
  }
  .navbar-list li:hover {
    background-color: white;
    padding: 10px;
    color: maroon;
    border-radius: 5px;
  }
}
.navbar-list-1 {
  margin: 20px;
}
.navbar-list-1 ul {
  margin-top: 10px;
}
.navbar-list-1 ul li {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  border-bottom: 3px solid white;

  cursor: pointer;
  color: white;
}
.navbar-list-1 ul li:hover {
  background-color: white;
  color: maroon;
  font-weight: 900;
  padding: 20px;
}
.footer {
  color: white;
  .footer-1-1 {
    .footer-ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 10px;
      .ul-list li {
        margin: 5px;
        padding: 5px;
        list-style: none;
        cursor: pointer;
        font-weight: 900;
        border-left: 4px solid #dd761c;
        border-bottom: 4px solid #feb941;
      }
    }
  }
}
.ul-list li:hover {
  background-color: #dd761c;
}
.footer-list-1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-button {
  margin: 10px;
  padding: 10px;
  display: flex;

  gap: 2rem;
}
.footer-button button {
  width: 300px;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  font-weight: 900;
  align-items: center;
  background-color: #feb941;
  cursor: pointer;
  border-radius: 10px;
}
.footer-button button:hover {
  background-color: #dd761c;
}
.logo {
  display: flex;
  justify-content: end;
  font-size: 20px;
  align-items: center;
  margin: 20px;
}
.logo i {
  font-size: 50px;
  gap: 2rem;
  color: #dd761c;
  cursor: pointer;
}
